@import "/public/font-awesome/css/font-awesome.min.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --Primary_color: #059669;
  --Secondary_color: #d1fae5;
  --Water_bg: #c7f4fe;
  --Water_fg: #006aff;
  --Dumpster_bg: #fee2e2;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
}

.button {
  display: flex;
  height: 40px;
  padding: 9px 17px 9px 17px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
}

.empty-green-button {
  border: 1px solid var(--Primary_color);
  color: var(--Primary_color);
  background: rgba(255, 255, 255, 0);
}

.empty-white-button {
  border: 1px solid white;
  color: white;
  background: rgba(255, 255, 255, 0);
}

.green-button {
  border: none;
  color: #fff;
  background: var(--Primary_color);
}

.white-button-primary {
  border: none;
  background: #fff;
  color: var(--Primary_color);
}

.white-button {
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background: #fff;
  color: #000;
}

.gray-button {
  border: none;
  background: #e5e7eb;
  color: #000;
}

.transparent-button {
  border-radius: 4px;
  border: 1px solid #e5e7eb;
  background: rgba(255, 255, 255, 0);
}

input,
textarea {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background: #fff;
}

input {
  display: flex;
  padding: 7px 14px;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

textarea {
  width: 100%;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

input::placeholder,
textarea::placeholder {
  color: #757575;
}

.badge {
  display: flex;
  padding: 3px 24px;
  width: fit-content;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  line-height: 20px;
  background: #f4f4f4;
}

.badge-new {
  background: var(--Water_bg);
  color: var(--Water_fg);
}

.badge-pending {
  background: #fef3c7;
  color: #92400e;
}

.badge-rejected {
  background: var(--Dumpster_bg);
  color: #991b1b;
}

.badge-resolved {
  background: var(--Secondary_color);
  color: #065f46;
}
