<content>
  <aside>
    <section>
      <h4>Status Timeline</h4>
      <div>
        <img
          src="/public/images/green_circle_icons/camera.svg"
          alt="camera icon"
        />
        <section>
          <p>Reported</p>
          <p>Jan 15, 2025</p>
        </section>
      </div>
    </section>
    <section>
      <h4>Location</h4>
      <img src="/public/images/other_icons/location.svg" alt="placeholder" />
      <div>
        <p>River Park, North Section</p>
        <p>Coordinates: 51.5074° N, 0.1278° W</p>
      </div>
    </section>
  </aside>
</content>

<style>
  @import "/public/styles/globals.css";

  :host {
    display: contents;

    p,
    h3,
    h4 {
      margin: 0;
    }

    h4 {
      font-weight: 400;
    }

    aside {
      display: flex;
      flex-direction: column;
      gap: 30px;

      > section {
        border-radius: 8px;
        background: #fff;
        box-shadow:
          0 1px 2px 0 rgba(0, 0, 0, 0.05),
          0 0 0 0 rgba(0, 0, 0, 0),
          0 0 0 0 rgba(0, 0, 0, 0);
        padding: 24px;
      }

      & > section:first-of-type {
        display: flex;
        flex-direction: column;
        gap: 10px;

        div {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          margin-top: 10px;

          p:first-child {
            color: #000;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
          }

          p:last-child {
            color: #4b5563;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
          }

          img {
            width: 32px;
            height: 32px;
          }
        }
      }

      & > section:last-of-type {
        display: flex;
        flex-direction: column;
        gap: 25px;

        img {
          width: auto;
          height: 200px;
          border-radius: 8px;
        }

        p:first-child {
          color: #374151;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }

        p:last-child {
          color: #4b5563;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
        }
      }
    }
  }
</style>
