<content>
  <RenderIf condition="$shouldDisplayNavBar">
    <nav>
      <header>
        <NavLink to="/">
          <img src="/public/images/favicon.svg" /> EcoCity
        </NavLink>
      </header>
      <main>
        <RenderIf condition="$currentPage.home">
          <NavLink to="/">Home</NavLink>
          <RenderIf condition="!H$isAuthenticated">
            <NavLink to="/signin" class="button green-button">Login</NavLink>
            <NavLink to="/signup" class="button empty-green-button"
              >Register</NavLink
            >
          </RenderIf>
          <RenderIf condition="H$isAuthenticated">
            <NavLink to="/reports">Reports</NavLink>
            <NavLink to="/dashboard">Dashboard</NavLink>
            <NavLink to="/report/add" class="button green-button"
              >+ New Report</NavLink
            >
            <img
              class="button gray-button logout"
              src="/public/images/other_icons/signout.svg"
            />
            <img class="avatar" src="/public/images/avatars/placeholder.png" />
          </RenderIf>
        </RenderIf>
        <RenderIf condition="$currentPage.reports">
          <NavLink to="/reports">Reports</NavLink>
          <NavLink to="/dashboard">Dashboard</NavLink>
          <NavLink to="/report/add" class="button green-button"
            >+ New Report</NavLink
          >
          <RenderIf condition="H$isAuthenticated">
            <img
              class="button gray-button logout"
              src="/public/images/other_icons/signout.svg"
            />
            <img class="avatar" src="/public/images/avatars/placeholder.png" />
          </RenderIf>
        </RenderIf>
        <RenderIf condition="$currentPage.dashboardOrNew">
          <NavLink to="/reports">Reports</NavLink>
          <NavLink to="/dashboard">Dashboard</NavLink>
          <RenderIf condition="H$isAuthenticated">
            <img
              class="button gray-button logout"
              src="/public/images/other_icons/signout.svg"
            />
            <img class="avatar" src="/public/images/avatars/placeholder.png" />
          </RenderIf>
        </RenderIf>
      </main>
    </nav>
  </RenderIf>
</content>
