<content>
  <main></main>
</content>

<style>
  @import "/public/styles/globals.css";

  main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }
</style>

<script>
  import { getRecentReportsArray } from "/modules/helpers.pig";

  $H.observe("reports");
  $H.observe("users");

  // Create an array of recent reports with user info
  const recentReportsArray = getRecentReportsArray($H.reports, $H.users, 3);

  if (recentReportsArray.length > 0) {
    const reports = [];

    for (const report of recentReportsArray) {
      const reportEl = $`<RecentReport ${{
        data: report,
      }} />`;
      reports.push(reportEl);
    }
    $element("main").append(...reports);
  } else {
    $element("main").innerText = "No recent reports available.";
  }
</script>
