<content>
  <main></main>
</content>

<script>
  import { getRecentReportsArray } from "/modules/helpers.pig";

  $H.observe("reports");
  $H.observe("users");

  const recentReports = getRecentReportsArray($H.reports, $H.users, 5);

  for (const report of recentReports) {
    const reportEl = $`<SingleReport ${{ data: report }} />`;
    $element("main").append(reportEl);
  }
</script>

<style>
  @import "/public/styles/globals.css";

  main,
  :host {
    width: 100%;
  }

  main {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
  }
</style>
