<content></content>

<script>
  import { notImplemented } from "/modules/helpers.pig";

  const { data } = $attrs;

  const trElement = document.createElement("tr");
  trElement.innerHTML = `
        <td>${data.title}</td>
        <td>${new Date(data.date).toLocaleDateString()}</td>
        <td><span class="badge badge-${data.status?.toLowerCase() || "badge"}">${data.status}</span></td>
        <td>${data.commentsCount + " comments" || "No comments"}</td>
        <td>
        <div>
            <img
                src="/public/images/other_icons/edit.svg"
                alt="Edit Icon"
                id="edit"
            />
         </div>
        </td>
    `;

  const navLink = $`<NavLink ${{ to: `/report?id=${data.id}` }}/>`;
  navLink.innerHTML = `<img src="/public/images/other_icons/eye.svg" alt="View" />`;

  trElement.querySelector("td:last-of-type > div").prepend(navLink);
  $document.append(trElement);

  $element("img#edit").on("click", () => notImplemented("Edit report"));
</script>

<style>
  @import "/public/styles/globals.css";

  :host {
    display: contents;
  }

  td:last-of-type {
    div {
      display: flex;
      align-items: center;
      gap: 8px;
      flex-direction: row;
      justify-content: flex-end;

      NavLink {
        display: contents;
      }
    }
  }

  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  #edit {
    cursor: pointer;
  }
</style>
